@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xlJXf1fzc63V_font-family: "Inter", sans-serif;
  --mixin-xlJXf1fzc63V_font-size: 14px;
  --mixin-xlJXf1fzc63V_font-weight: 400;
  --mixin-xlJXf1fzc63V_font-style: normal;
  --mixin-xlJXf1fzc63V_color: #535353;
  --mixin-xlJXf1fzc63V_text-align: left;
  --mixin-xlJXf1fzc63V_text-transform: none;
  --mixin-xlJXf1fzc63V_line-height: 1.5;
  --mixin-xlJXf1fzc63V_letter-spacing: normal;
  --mixin-xlJXf1fzc63V_white-space: pre-wrap;
  --mixin-xlJXf1fzc63V_user-select: text;
  --mixin-xlJXf1fzc63V_text-decoration-line: none;
  --mixin-xlJXf1fzc63V_text-overflow: clip;
  --mixin-g3OI-l3Ob4MA_color: #000000;
  --mixin-g3OI-l3Ob4MA_font-weight: 600;
  --mixin-g3OI-l3Ob4MA_font-size: 40px;
  --mixin-g3OI-l3Ob4MA_line-height: 1;
  --mixin-g3OI-l3Ob4MA_letter-spacing: -1px;
  --mixin-g3OI-l3Ob4MA_white-space: pre-wrap;
  --mixin-3L0w-cl8V8i1_color: #000000;
  --mixin-3L0w-cl8V8i1_font-size: 30px;
  --mixin-3L0w-cl8V8i1_font-weight: 600;
  --mixin-3L0w-cl8V8i1_line-height: 1.1;
  --mixin-3L0w-cl8V8i1_white-space: pre-wrap;
  --mixin-On1HLjtHQJtN_color: #0070f3;
  --mixin-On1HLjtHQJtN_white-space: pre-wrap;
  --mixin-Hh4nQFqo96EU_color: #000000;
  --mixin-Hh4nQFqo96EU_font-size: 24px;
  --mixin-Hh4nQFqo96EU_font-weight: 600;
  --mixin-Hh4nQFqo96EU_line-height: 1.2;
  --mixin-Hh4nQFqo96EU_white-space: pre-wrap;
  --mixin-VzlswvRv4aBD_color: #000000;
  --mixin-VzlswvRv4aBD_font-size: 20px;
  --mixin-VzlswvRv4aBD_font-weight: 600;
  --mixin-VzlswvRv4aBD_line-height: 1.3;
  --mixin-VzlswvRv4aBD_white-space: pre-wrap;
  --mixin--Jxz_Q0XuWqs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--Jxz_Q0XuWqs_border-bottom-color: #dddddd;
  --mixin--Jxz_Q0XuWqs_border-bottom-style: solid;
  --mixin--Jxz_Q0XuWqs_border-bottom-width: 1px;
  --mixin--Jxz_Q0XuWqs_border-left-color: #dddddd;
  --mixin--Jxz_Q0XuWqs_border-left-style: solid;
  --mixin--Jxz_Q0XuWqs_border-left-width: 1px;
  --mixin--Jxz_Q0XuWqs_border-right-color: #dddddd;
  --mixin--Jxz_Q0XuWqs_border-right-style: solid;
  --mixin--Jxz_Q0XuWqs_border-right-width: 1px;
  --mixin--Jxz_Q0XuWqs_border-top-color: #dddddd;
  --mixin--Jxz_Q0XuWqs_border-top-style: solid;
  --mixin--Jxz_Q0XuWqs_border-top-width: 1px;
  --mixin--Jxz_Q0XuWqs_border-bottom-left-radius: 3px;
  --mixin--Jxz_Q0XuWqs_border-bottom-right-radius: 3px;
  --mixin--Jxz_Q0XuWqs_border-top-left-radius: 3px;
  --mixin--Jxz_Q0XuWqs_border-top-right-radius: 3px;
  --mixin--Jxz_Q0XuWqs_font-family: "Inconsolata";
  --mixin--Jxz_Q0XuWqs_padding-bottom: 1px;
  --mixin--Jxz_Q0XuWqs_padding-left: 4px;
  --mixin--Jxz_Q0XuWqs_padding-right: 4px;
  --mixin--Jxz_Q0XuWqs_padding-top: 1px;
  --mixin--Jxz_Q0XuWqs_white-space: pre-wrap;
  --mixin-Gkkd_GZnwlmH_border-left-color: #dddddd;
  --mixin-Gkkd_GZnwlmH_border-left-style: solid;
  --mixin-Gkkd_GZnwlmH_border-left-width: 3px;
  --mixin-Gkkd_GZnwlmH_color: #888888;
  --mixin-Gkkd_GZnwlmH_padding-left: 10px;
  --mixin-Gkkd_GZnwlmH_white-space: pre-wrap;
  --mixin-UUfb1BDmm71o_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UUfb1BDmm71o_border-bottom-color: #dddddd;
  --mixin-UUfb1BDmm71o_border-bottom-style: solid;
  --mixin-UUfb1BDmm71o_border-bottom-width: 1px;
  --mixin-UUfb1BDmm71o_border-left-color: #dddddd;
  --mixin-UUfb1BDmm71o_border-left-style: solid;
  --mixin-UUfb1BDmm71o_border-left-width: 1px;
  --mixin-UUfb1BDmm71o_border-right-color: #dddddd;
  --mixin-UUfb1BDmm71o_border-right-style: solid;
  --mixin-UUfb1BDmm71o_border-right-width: 1px;
  --mixin-UUfb1BDmm71o_border-top-color: #dddddd;
  --mixin-UUfb1BDmm71o_border-top-style: solid;
  --mixin-UUfb1BDmm71o_border-top-width: 1px;
  --mixin-UUfb1BDmm71o_border-bottom-left-radius: 3px;
  --mixin-UUfb1BDmm71o_border-bottom-right-radius: 3px;
  --mixin-UUfb1BDmm71o_border-top-left-radius: 3px;
  --mixin-UUfb1BDmm71o_border-top-right-radius: 3px;
  --mixin-UUfb1BDmm71o_font-family: "Inconsolata";
  --mixin-UUfb1BDmm71o_padding-bottom: 3px;
  --mixin-UUfb1BDmm71o_padding-left: 6px;
  --mixin-UUfb1BDmm71o_padding-right: 6px;
  --mixin-UUfb1BDmm71o_padding-top: 3px;
  --mixin-UUfb1BDmm71o_white-space: pre-wrap;
  --mixin-_gOqCYidekfO_display: flex;
  --mixin-_gOqCYidekfO_flex-direction: column;
  --mixin-_gOqCYidekfO_align-items: stretch;
  --mixin-_gOqCYidekfO_justify-content: flex-start;
  --mixin-_gOqCYidekfO_list-style-position: outside;
  --mixin-_gOqCYidekfO_padding-left: 40px;
  --mixin-_gOqCYidekfO_position: relative;
  --mixin-_gOqCYidekfO_list-style-type: disc;
  --mixin-_gOqCYidekfO_white-space: pre-wrap;
  --mixin-BcrOrniacjX1_display: flex;
  --mixin-BcrOrniacjX1_flex-direction: column;
  --mixin-BcrOrniacjX1_align-items: stretch;
  --mixin-BcrOrniacjX1_justify-content: flex-start;
  --mixin-BcrOrniacjX1_list-style-position: outside;
  --mixin-BcrOrniacjX1_padding-left: 40px;
  --mixin-BcrOrniacjX1_position: relative;
  --mixin-BcrOrniacjX1_list-style-type: decimal;
  --mixin-BcrOrniacjX1_white-space: pre-wrap;
  --mixin-OTq4WUoRwvMS_color: #000000;
  --mixin-OTq4WUoRwvMS_font-size: 16px;
  --mixin-OTq4WUoRwvMS_font-weight: 600;
  --mixin-OTq4WUoRwvMS_line-height: 1.5;
  --mixin-OTq4WUoRwvMS_white-space: pre-wrap;
  --mixin-72_iz0H4DkdF_color: #000000;
  --mixin-72_iz0H4DkdF_font-size: 14px;
  --mixin-72_iz0H4DkdF_font-weight: 600;
  --mixin-72_iz0H4DkdF_line-height: 1.5;
  --mixin-72_iz0H4DkdF_white-space: pre-wrap;
  --mixin-6fYwBsru1D5B_color: #3291ff;
  --mixin-6fYwBsru1D5B_white-space: pre-wrap;
  --mixin-56ta5tk_wna5_white-space: pre-wrap;
  --mixin-ky4kK2zVVnKA_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xlJXf1fzc63V_font-family);
  font-size: var(--mixin-xlJXf1fzc63V_font-size);
  font-weight: var(--mixin-xlJXf1fzc63V_font-weight);
  font-style: var(--mixin-xlJXf1fzc63V_font-style);
  color: var(--mixin-xlJXf1fzc63V_color);
  text-align: var(--mixin-xlJXf1fzc63V_text-align);
  text-transform: var(--mixin-xlJXf1fzc63V_text-transform);
  line-height: var(--mixin-xlJXf1fzc63V_line-height);
  letter-spacing: var(--mixin-xlJXf1fzc63V_letter-spacing);
  white-space: var(--mixin-xlJXf1fzc63V_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-g3OI-l3Ob4MA_color);
  font-weight: var(--mixin-g3OI-l3Ob4MA_font-weight);
  font-size: var(--mixin-g3OI-l3Ob4MA_font-size);
  line-height: var(--mixin-g3OI-l3Ob4MA_line-height);
  letter-spacing: var(--mixin-g3OI-l3Ob4MA_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-3L0w-cl8V8i1_color);
  font-size: var(--mixin-3L0w-cl8V8i1_font-size);
  font-weight: var(--mixin-3L0w-cl8V8i1_font-weight);
  line-height: var(--mixin-3L0w-cl8V8i1_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-On1HLjtHQJtN_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Hh4nQFqo96EU_color);
  font-size: var(--mixin-Hh4nQFqo96EU_font-size);
  font-weight: var(--mixin-Hh4nQFqo96EU_font-weight);
  line-height: var(--mixin-Hh4nQFqo96EU_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-VzlswvRv4aBD_color);
  font-size: var(--mixin-VzlswvRv4aBD_font-size);
  font-weight: var(--mixin-VzlswvRv4aBD_font-weight);
  line-height: var(--mixin-VzlswvRv4aBD_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--Jxz_Q0XuWqs_font-family);
  border-radius: var(--mixin--Jxz_Q0XuWqs_border-top-left-radius)
    var(--mixin--Jxz_Q0XuWqs_border-top-right-radius)
    var(--mixin--Jxz_Q0XuWqs_border-bottom-right-radius)
    var(--mixin--Jxz_Q0XuWqs_border-bottom-left-radius);
  padding: var(--mixin--Jxz_Q0XuWqs_padding-top)
    var(--mixin--Jxz_Q0XuWqs_padding-right)
    var(--mixin--Jxz_Q0XuWqs_padding-bottom)
    var(--mixin--Jxz_Q0XuWqs_padding-left);
  border-top: var(--mixin--Jxz_Q0XuWqs_border-top-width)
    var(--mixin--Jxz_Q0XuWqs_border-top-style)
    var(--mixin--Jxz_Q0XuWqs_border-top-color);
  border-right: var(--mixin--Jxz_Q0XuWqs_border-right-width)
    var(--mixin--Jxz_Q0XuWqs_border-right-style)
    var(--mixin--Jxz_Q0XuWqs_border-right-color);
  border-bottom: var(--mixin--Jxz_Q0XuWqs_border-bottom-width)
    var(--mixin--Jxz_Q0XuWqs_border-bottom-style)
    var(--mixin--Jxz_Q0XuWqs_border-bottom-color);
  border-left: var(--mixin--Jxz_Q0XuWqs_border-left-width)
    var(--mixin--Jxz_Q0XuWqs_border-left-style)
    var(--mixin--Jxz_Q0XuWqs_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Gkkd_GZnwlmH_color);
  padding-left: var(--mixin-Gkkd_GZnwlmH_padding-left);
  border-left: var(--mixin-Gkkd_GZnwlmH_border-left-width)
    var(--mixin-Gkkd_GZnwlmH_border-left-style)
    var(--mixin-Gkkd_GZnwlmH_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UUfb1BDmm71o_font-family);
  border-radius: var(--mixin-UUfb1BDmm71o_border-top-left-radius)
    var(--mixin-UUfb1BDmm71o_border-top-right-radius)
    var(--mixin-UUfb1BDmm71o_border-bottom-right-radius)
    var(--mixin-UUfb1BDmm71o_border-bottom-left-radius);
  padding: var(--mixin-UUfb1BDmm71o_padding-top)
    var(--mixin-UUfb1BDmm71o_padding-right)
    var(--mixin-UUfb1BDmm71o_padding-bottom)
    var(--mixin-UUfb1BDmm71o_padding-left);
  border-top: var(--mixin-UUfb1BDmm71o_border-top-width)
    var(--mixin-UUfb1BDmm71o_border-top-style)
    var(--mixin-UUfb1BDmm71o_border-top-color);
  border-right: var(--mixin-UUfb1BDmm71o_border-right-width)
    var(--mixin-UUfb1BDmm71o_border-right-style)
    var(--mixin-UUfb1BDmm71o_border-right-color);
  border-bottom: var(--mixin-UUfb1BDmm71o_border-bottom-width)
    var(--mixin-UUfb1BDmm71o_border-bottom-style)
    var(--mixin-UUfb1BDmm71o_border-bottom-color);
  border-left: var(--mixin-UUfb1BDmm71o_border-left-width)
    var(--mixin-UUfb1BDmm71o_border-left-style)
    var(--mixin-UUfb1BDmm71o_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-_gOqCYidekfO_display);
  flex-direction: var(--mixin-_gOqCYidekfO_flex-direction);
  align-items: var(--mixin-_gOqCYidekfO_align-items);
  justify-content: var(--mixin-_gOqCYidekfO_justify-content);
  list-style-position: var(--mixin-_gOqCYidekfO_list-style-position);
  padding-left: var(--mixin-_gOqCYidekfO_padding-left);
  position: var(--mixin-_gOqCYidekfO_position);
  list-style-type: var(--mixin-_gOqCYidekfO_list-style-type);
  flex-column-gap: var(--mixin-_gOqCYidekfO_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BcrOrniacjX1_display);
  flex-direction: var(--mixin-BcrOrniacjX1_flex-direction);
  align-items: var(--mixin-BcrOrniacjX1_align-items);
  justify-content: var(--mixin-BcrOrniacjX1_justify-content);
  list-style-position: var(--mixin-BcrOrniacjX1_list-style-position);
  padding-left: var(--mixin-BcrOrniacjX1_padding-left);
  position: var(--mixin-BcrOrniacjX1_position);
  list-style-type: var(--mixin-BcrOrniacjX1_list-style-type);
  flex-column-gap: var(--mixin-BcrOrniacjX1_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-OTq4WUoRwvMS_color);
  font-size: var(--mixin-OTq4WUoRwvMS_font-size);
  font-weight: var(--mixin-OTq4WUoRwvMS_font-weight);
  line-height: var(--mixin-OTq4WUoRwvMS_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-72_iz0H4DkdF_color);
  font-size: var(--mixin-72_iz0H4DkdF_font-size);
  font-weight: var(--mixin-72_iz0H4DkdF_font-weight);
  line-height: var(--mixin-72_iz0H4DkdF_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-6fYwBsru1D5B_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
